<div class='wrapper'>
<h3 class='mainmenu'><a ui-sref='home'>Home</a></h3>
<h3 class='mainmenu'><a ui-sref='projects'>Projects</a></h3>
<h3 class='mainmenu'><a ui-sref='photos'>Photos</a></h3>
<div class='push'></div>
  <div class='secondcontainer'>
    <h2> My name is Geoff Winner... </h2>
    <h4> I am an aspiring Web Developer, Reader, Cycler and watcher of both Game of Thrones and Baseball. I am always looking to improve and I have found development is a good thing to get into if you like learning new things. Currently a student at Epicodus spending my days coding and working with others to grow not only our coding skills but our ability to work with others as a team. </h4>
  </div>
</div>


  <div class='footer'>
    <a href='https://linkedin.com/in/geoffwinner'><img src='img/linkedin.png'></img></a>
    <a href='https://github.com/geoff-winner'><img src='img/Github-icon.png'></img></a>
    <a href='https://twitter.com/geoff_winner'><img src='img/twitter.png'></img></a>
    <p>Copyright Geoff Winner 2015</p>
</div>
