<div class='wrapper'>
<h3 class='mainmenu'><a ui-sref='aboutme'>About Me</a></h3>
<h3 class='mainmenu'><a ui-sref='projects'>Projects</a></h3>
<h3 class='mainmenu'><a ui-sref='photos'>Photos</a></h3>
<div class='push'></div>
  </div>
  <div class='footer'>
    <a href='https://linkedin.com/in/geoffwinner'><img src='img/linkedin.png'></img></a>
    <a href='https://github.com/geoff-winner'><img src='img/Github-icon.png'></img></a>
    <a href='https://twitter.com/geoff_winner'><img src='img/twitter.png'></img></a>
    <p>Copyright Geoff Winner 2015</p>
</div>
