<div class='wrapper'>
<h3 class='mainmenu'><a ui-sref='home'>Home</a></h3>
<h3 class='mainmenu'><a ui-sref='aboutme'>About Me</a></h3>
<h3 class='mainmenu'><a ui-sref='projects'>Projects</a></h3>
<div class='push'></div>
  <div class='secondcontainerphotos'>
    <h2>Just some photos I took recently</h2>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/1_zpsrml0g6ml.jpg'>Rainy Day on the Waterfront</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/2_zpshpbruuxg.jpg'>Fishing</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/3_zpsi98kyuvd.jpg'>Submarine</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/4_zps4kmpuoz6.jpg'>From the South Waterfront</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/5_zpsfnknz157.jpg'>Suns Peeking Out</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/6_zpsel84pgts.jpg'>From the Sellwood Bridge</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/7_zpsdzhan6pc.jpg'>City Shot</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/8_zpstzuhwolb.jpg'>One of my favorites</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/9_zpstvd8ky9g.jpg'>From the Northern Waterfront</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/12_zpsemmijsn6.jpg'>From the Hawthorne Bridge</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/14_zpsx4km8bs5.jpg'>From the top of the Cemetery by the Sellwood Bridge</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/15_zpsp6vziaaj.jpg'>Portland City Grill</a></h4>
    <h4><a target="_blank" href='http://i1083.photobucket.com/albums/j390/_geoffwinner/16_zpshz43tst3.jpg'>PCD (Kinda Blurry)</a></h4>
  </div>
</div>


  <div class='footer'>
    <a href='https://linkedin.com/in/geoffwinner'><img src='img/linkedin.png'></img></a>
    <a href='https://github.com/geoff-winner'><img src='img/Github-icon.png'></img></a>
    <a href='https://twitter.com/geoff_winner'><img src='img/twitter.png'></img></a>
    <p>Copyright Geoff Winner 2015</p>
</div>
