<div class='wrapper'>
<h3 class='mainmenu'><a ui-sref='home'>Home</a></h3>
<h3 class='mainmenu'><a ui-sref='aboutme'>About Me</a></h3>
<h3 class='mainmenu'><a ui-sref='photos'>Photos</a></h3>
<div class='push'></div>
  <div class='thirdcontainer'>
    <h2>Some Projects I am Currently Working on for Fun</h2>
    <a target="_blank" href='/blackjack'><span class='glyphicon glyphicon-heart'><h4>BlackJack (JS, jQuery)</h4></a>

    <a target="_blank" href='/pigdice'><span class='glyphicon glyphicon-piggy-bank'><h4>Pig Dice! (JS, jQuery)</h4></a>

    <a target="_blank" href='/RPG'><span class='glyphicon glyphicon-screenshot'><h4>Dark Temple RPG (JS, AngularJS)</h4></a>

    <a target="_blank" href='/baseballproject'><span class='glyphicon glyphicon-screenshot'><h4>BASEBALL! (JS, AngularJS)</h4></a>

  <h2>A PHP Project my Team Recently Finished</h2>
    <a target='_blank' href='http://pickapp.geoffwinner.com'><span class='glyphicon glyphicon-record'><h4>PickApp (PHP)</h4></a>
  </div>
</div>


</div>


  <div class='footer'>
    <a href='https://linkedin.com/in/geoffwinner'><img src='img/linkedin.png'></img></a>
    <a href='https://github.com/geoff-winner'><img src='img/Github-icon.png'></img></a>
    <a href='https://twitter.com/geoff_winner'><img src='img/twitter.png'></img></a>
    <p>Copyright Geoff Winner 2015</p>
</div>
